{{define "content"}}
<p><a href="/">Pages</a></p>
{{if .Id}}
    <h2>Editing {{.Id}}</h2>
{{else}}
    <h2>Create new page</h2>
{{end}}

{{if .Id}}
    <form action="/edit/{{.Id}}" method="POST">
{{else}}
    <form action="/create" method="POST">
{{end}}
    <div class="form-group">
        <label for="inputTitle">Title</label>
        <input type="text" class="form-control" id="inputTitle" placeholder="Title" name="title" value="{{printf "%s" .Title}}">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
{{end}}